@font-face {
    font-family: Benzin;
    src: url(../fonts/Benzin_Bold.woff2);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.woff2);
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://russianwarship.rip/images/bg.png);
}